
  .button {
    background-color: #1c658c; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button2 {
    background-color: #4CAF50; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  tr, td, th{ 
    border: 2px solid grey;
   
  }
  input{
      border: none;
     text-align: left;
  }

  #formulario{
    border:1px solid black;
    width: 450px;
    height: 500px;
    padding:5px;
    background: linear-gradient(to bottom, #c5d0e2,  #f4f6f9);
    text-align: center;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #tablaform{
    width: 440px;
    height: 490px;

  }

  p{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
      text-align: justify;
      margin: 10px;
  }
  #tituloform{
      color: #810000; ;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
      font-size: 30px;
      
  }

  #svg{
    width: 350px;
    height: 200px;
    padding:5px;
    margin: auto;
    text-align: center;
  }

  #titulosvg{
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #810000;
      text-align: center;
      
  }